version: '3.8'

services:
  frontend:
    build:
      context: ./yuka-dashboard
    ports:
      - "80:80"
    restart: always

  backend:
    build:
      context: ./techknowgreen-live-api
    ports:
      - "5000:5000"
    restart: always
    environment:
      - NODE_ENV=production